<% if user_signed_in? %>
	<p>Bienvenido <%= current_user.email %></p>
	<p><%= link_to "Cerra sessión", destroy_user_session_path, method: :delete %></p>
<%else%>
	<p><%= link_to "Crea una cuenta", new_user_registration_path %></p>
	<p>Si ya tienes cuenta: <%=link_to "Logueate", new_user_session_path %></p>
<%end%>
